<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>atechrefurbconsent</name>
    <displayName><![CDATA[Consentimiento Obligatorio en Checkout]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <author><![CDATA[Atech]]></author>
    <description><![CDATA[Añade un checkbox de consentimiento obligatorio en el checkout para productos de categorías específicas. Texto del consentimiento totalmente personalizable. Compatible con clientes registrados e invitados (guest checkout).]]></description>
    <tab><![CDATA[checkout]]></tab>
    <confirmUninstall><![CDATA[¿Estás seguro de que quieres desinstalar este módulo? Se perderán todos los datos de consentimientos guardados.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
